.header {
  composes: blue_border from "../app/app.module.css";
  
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 88px;
  background-color: #1c1c21;
}
